*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:black;
    overflow:hidden;
}

#splash{
    position:fixed;
    inset:0;
}

#brookCharacter{
    position:fixed;
    inset:0;

    width:100vw;
    height:100vh;

    object-fit:cover;
    object-position:center;

    display:block;
}

.brook-title{
    position:fixed;
    bottom:120px;
    left:50%;
    transform:translateX(-50%);

    color:white;
    font-size:4rem;
    z-index:10;
}

.tap-text{
    position:fixed;
    bottom:80px;
    left:50%;
    transform:translateX(-50%);

    color:white;
    z-index:10;
}
